* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}
img {
  -webkit-user-drag: none;
  pointer-events: none;
}
.shadow {
  -moz-box-shadow: 2px 2px 5px #333333;
  -webkit-box-shadow: 2px 2px 5px #333333;
  box-shadow: 2px 2px 5px #333333;
}
.Button:hover {
  scale: 1.1;
}
.Button:active {
  scale: 0.9;
}
